body {
  /* background-color: #6495ed; */
  font-family: sans-serif;
  color: #1C1C1C;
  background-image: url("../img/background.png");
  background-size: cover;
}

.title {
  margin: 0 auto;
}

h1 {
  width: 30%;
  margin: 5px auto;
  text-align: center;
  color: #1C1C1C;
  background-color: #ffd;
  border-radius: 50px;
  font-size: 30px;
}

.content-wrapper {
  width: 100%;
  height: 700px;
}

.content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.players-area {
  width: 100%;
  /* background-color: #6495ed; */
  display:flex;
  flex-wrap:wrap;
  align-items:stretch;
  justify-content:center;
}

.player {
  width: 20%;
  height: 220px;
  padding: 5px 10px 10px;
  margin: 5px;
  color:  #1C1C1C;
  text-align: center;
  background-color: rgba(175,238,238,0.8);;
  border-radius: 10px;
  border: 5px solid #4169e1;
}

.face {
  width: 90px;
  height: 90px;
  margin: 0 auto;
}

.fingers {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  position: relative;
}

.left ,.right {
  width: 100px;
  height: 100%;
  margin: 0 2px;
}

.clear {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  text-align: center;
}

.close {
  display: none;
}

h2 {
  line-height: 90px;
  color: red;
}

.my-area {
  width: 100%;
  height: 28%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.rhythem-area {
  width: 35%;
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}

.rhythem {
  width: 75%;
  height: 100%;
  background-color: #fff;
  border: 5px double #ff8c00;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold
}

.rhythem-sey {

}

.rhythem-num {

}


.my-fingers-area {
  width: 30%;
  height: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.my-fingers {
  width: 340px;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(152,251,152,0.8);;
  border: 5px solid #008000;
  border-radius: 10px;
}

.my-left, .my-right {
  width: 50%;
  height: 90%;
  margin: 10px;
  cursor: pointer;
}

.my-numbers {
  width: 35%;
  height: 100%;
  padding: 5px;
  display: flex;
  justify-content: flex-start;

  /* visibility: hidden; */
}

.my-number {
  width: 75%;
  height: 100%;
  background-color: #fff;
  border: 5px double #ff8c00;
  border-radius: 10px;
  /* text-align: center;
  line-height: 186px; */
  font-size: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

img{
  width: 100%;
  height: 100%;
  background-size: cover;
  /* opacity: 0.1; */
}

/*モーダル*/
.modal-dialog {
  max-width: 540px;
}

.modal-header {
  margin: 0 auto;
  border-bottom: none;
  padding-bottom: 0;
}

.btn-primary {
  margin: 2px;
  width: 46px;
  height: 37px;
  padding: 0;
}

#modal-body2 {
  text-align: center;
}

#modal-body2 h2 {
  font-size: 60px;
}
